<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foto</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <link rel="stylesheet" href="../style/slider.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <style>
      .swiper-dekstop {
        width: 320px !important;
      }
      /* .swiper-mobile {
        width: 320px !important;
      } */
    </style>
  </head>
  <body>
    <!-- Dekstop -->
    <div
      class="w-full h-full bg-no-repeat bg-cover bg-bottom 2xl:flex xl:flex lg:flex md:flex hidden 2xl:flex-col xl:flex-col lg:flex-col md:flex-col"
      style="
        background-image: url(https://cdn.pixabay.com/photo/2018/04/02/21/33/building-3285254_960_720.jpg);
      "
    >
      <div class="bg-black h-full w-full bg-opacity-25 px-10 py-60">
        <div class="swiper mySwiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide space-y-5">
              <h1 class="text-8xl text-white font-bold">Foto</h1>
              <p class="text-white my-3 text-xl">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                necessitatibus? Quidem doloribus ex iure.
              </p>
              <button
                class="bg-blue-500 bg-opacity-70 text-white px-5 py-3 rounded-full"
              >
                Selengkapnya
              </button>
            </div>
            <div class="swiper-slide swiper-dekstop">
              <div
                class="h-96 rounded-2xl w-full flex flex-col justify-end px-5 py-5"
                style="
                  height: 500px !important;
                  background: rgba(0, 0, 0, 0.589)
                    url(https://rmol.id/images/berita/normal/2020/12/346492_08565423122020_Sandiaga_Uno.jpg);
                  background-blend-mode: darken;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              >
                <h1 class="text-white font-semibold">LOREM IPSUM</h1>
              </div>
            </div>
            <div class="swiper-slide swiper-dekstop">
              <div
                class="h-96 rounded-2xl w-full flex flex-col justify-end px-5 py-5"
                style="
                  height: 500px !important;
                  background: rgba(0, 0, 0, 0.589)
                    url(https://rmol.id/images/berita/normal/2020/12/346492_08565423122020_Sandiaga_Uno.jpg);
                  background-blend-mode: darken;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              >
                <h1 class="text-white font-semibold">LOREM IPSUM</h1>
              </div>
            </div>
            <div class="swiper-slide swiper-dekstop">
              <div
                class="h-96 rounded-2xl w-full flex flex-col justify-end px-5 py-5"
                style="
                  height: 500px !important;
                  background: rgba(0, 0, 0, 0.589)
                    url(https://rmol.id/images/berita/normal/2020/12/346492_08565423122020_Sandiaga_Uno.jpg);
                  background-blend-mode: darken;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              >
                <h1 class="text-white font-semibold">LOREM IPSUM</h1>
              </div>
            </div>
            <div class="swiper-slide swiper-dekstop">
              <div
                class="h-96 rounded-2xl w-full flex flex-col justify-end px-5 py-5"
                style="
                  height: 500px !important;
                  background: rgba(0, 0, 0, 0.589)
                    url(https://rmol.id/images/berita/normal/2020/12/346492_08565423122020_Sandiaga_Uno.jpg);
                  background-blend-mode: darken;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              >
                <h1 class="text-white font-semibold">LOREM IPSUM</h1>
              </div>
            </div>
            <div class="swiper-slide swiper-dekstop">
              <div
                class="h-96 rounded-2xl w-full flex flex-col justify-end px-5 py-5"
                style="
                  height: 500px !important;
                  background: rgba(0, 0, 0, 0.589)
                    url(https://rmol.id/images/berita/normal/2020/12/346492_08565423122020_Sandiaga_Uno.jpg);
                  background-blend-mode: darken;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              >
                <h1 class="text-white font-semibold">LOREM IPSUM</h1>
              </div>
            </div>
            <div class="swiper-slide swiper-dekstop">
              <div
                class="h-96 rounded-2xl w-full flex flex-col justify-end px-5 py-5"
                style="
                  height: 500px !important;
                  background: rgba(0, 0, 0, 0.589)
                    url(https://rmol.id/images/berita/normal/2020/12/346492_08565423122020_Sandiaga_Uno.jpg);
                  background-blend-mode: darken;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              >
                <h1 class="text-white font-semibold">LOREM IPSUM</h1>
              </div>
            </div>
          </div>

          <!-- If we need navigation buttons -->

          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>
        <div class="flex justify-center space-x-3 mt-10">
          <button class="prev">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-9 w-9 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              strokeWidth="{1}"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"
              />
            </svg>
          </button>
          <button class="next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-9 w-9 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              strokeWidth="{1}"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- Dekstop -->
    <!-- Mobile -->
    <div
      class="w-full h-full bg-no-repeat bg-cover 2xl:hidden xl:hidden lg:hidden md:hidden flex flex-col bg-bottom"
      style="
        background-image: url(https://cdn.pixabay.com/photo/2018/04/02/21/33/building-3285254_960_720.jpg);
      "
    >
      <div class="bg-gray-600 bg-opacity-50 h-full w-full py-24">
        <h1 class="text-6xl font-semibold text-white text-center">Foto</h1>
        <p class="text-white text-center my-10">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
          repudiandae officia veritatis dignissimos fugit nihil error
        </p>

        <div class="swiper" style="padding-right: 50px; padding-left: 50px">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-mobile">
              <div
                class="rounded-2xl w-full flex flex-col justify-end px-5 py-5"
                style="
                  height: 400px !important;
                  background: rgba(0, 0, 0, 0.589)
                    url(https://rmol.id/images/berita/normal/2020/12/346492_08565423122020_Sandiaga_Uno.jpg);
                  background-blend-mode: darken;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              >
                <h1 class="text-white font-semibold">LOREM IPSUM</h1>
              </div>
            </div>
            <div class="swiper-slide swiper-mobile">
              <div
                class="rounded-2xl w-full flex flex-col justify-end px-5 py-5"
                style="
                  height: 400px !important;
                  background: rgba(0, 0, 0, 0.589)
                    url(https://rmol.id/images/berita/normal/2020/12/346492_08565423122020_Sandiaga_Uno.jpg);
                  background-blend-mode: darken;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              >
                <h1 class="text-white font-semibold">LOREM IPSUM</h1>
              </div>
            </div>
            <div class="swiper-slide swiper-mobile">
              <div
                class="rounded-2xl w-full flex flex-col justify-end px-5 py-5"
                style="
                  height: 400px !important;
                  background: rgba(0, 0, 0, 0.589)
                    url(https://rmol.id/images/berita/normal/2020/12/346492_08565423122020_Sandiaga_Uno.jpg);
                  background-blend-mode: darken;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              >
                <h1 class="text-white font-semibold">LOREM IPSUM</h1>
              </div>
            </div>
            <div class="swiper-slide swiper-mobile">
              <div
                class="rounded-2xl w-full flex flex-col justify-end px-5 py-5"
                style="
                  height: 400px !important;
                  background: rgba(0, 0, 0, 0.589)
                    url(https://rmol.id/images/berita/normal/2020/12/346492_08565423122020_Sandiaga_Uno.jpg);
                  background-blend-mode: darken;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              >
                <h1 class="text-white font-semibold">LOREM IPSUM</h1>
              </div>
            </div>
            <div class="swiper-slide swiper-mobile">
              <div
                class="rounded-2xl w-full flex flex-col justify-end px-5 py-5"
                style="
                  height: 400px !important;
                  background: rgba(0, 0, 0, 0.589)
                    url(https://rmol.id/images/berita/normal/2020/12/346492_08565423122020_Sandiaga_Uno.jpg);
                  background-blend-mode: darken;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              >
                <h1 class="text-white font-semibold">LOREM IPSUM</h1>
              </div>
            </div>
            <div class="swiper-slide swiper-mobile">
              <div
                class="rounded-2xl w-full flex flex-col justify-end px-5 py-5"
                style="
                  height: 400px !important;
                  background: rgba(0, 0, 0, 0.589)
                    url(https://rmol.id/images/berita/normal/2020/12/346492_08565423122020_Sandiaga_Uno.jpg);
                  background-blend-mode: darken;
                  background-repeat: no-repeat;
                  background-size: cover;
                "
              >
                <h1 class="text-white font-semibold">LOREM IPSUM</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-16">
          <button class="bg-blue-500 text-white px-5 py-3 rounded-full">
            Selengkapnya
          </button>
        </div>
      </div>
    </div>
    <!-- Mobile -->
  </body>
  <!-- <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script> -->
  <!-- <script src="../js/slider.js"></script> -->
  <script type="module">
    import Swiper from "https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js";

    const swiper = new Swiper(".swiper", {
      // Optional parameters
      direction: "horizontal",
      //   loop: true, slidesPerView: 'auto',
      //   autoHeight: true,
      slidesPerView: 3,
      spaceBetween: 30,
      cssMode: true,
      // If we need pagination
      pagination: {
        el: ".swiper-pagination",
        type: "fraction",
      },

      // Navigation arrows
      navigation: {
        nextEl: ".next",
        prevEl: ".prev",
      },
      breakpoints: {
        "@0.00": {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        "@0.75": {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        "@1.00": {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        "@1.50": {
          slidesPerView: 4,
          spaceBetween: 30,
        },
      },
      // And if we need scrollbar
      scrollbar: {
        el: ".swiper-scrollbar",
      },
    });
  </script>
</html>
