<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>card</title>
  </head>
  <body>
    <div
      class="h-80 rounded-2xl w-full bg-cover flex flex-col justify-end px-5 py-5"
      style="
        background-image: url(https://asset.kompas.com/crops/FGkE00w3NfqPIrQTn_tTrrWyanA=/0x0:0x0/750x500/data/photo/2021/04/22/60819d99a708b.jpg);
      "
    >
      <h1 class="text-white font-semibold">LOREM IPSUM</h1>
    </div>
  </body>
</html>
