<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
  </head>
  <body>
     <!-- Header For Mobile -->
     <div id="mySidenav" class="sidenav drop-shadow-lg">
      <!-- <div class="bg-blue-900 h-0.5 relative top-0"></div> -->
      <div
        class="flex justify-between bg-blue-900 items-center gap-x-8 px-10 bg-blue-900"
      >
        <img src="assets/banper.png" alt="" class="xl:h-36 h-20" />
        <a
          href="javascript:void(0)"
          class="top-4 right-6"
          onclick="closeNav()"
          >&times;</a
        >
      </div>
      <a href="#" onclick="closeNav()">Home</a>
      <a href="#" onclick="closeNav()">Mekanisme Pendaftaran</a>
      <a href="#" onclick="closeNav()">Berita</a>
      <a href="#" onclick="closeNav()">Galeri</a>
    </div>
    <!-- Header For Mobile -->

    <!-- Header -->
    <div class="xl:w-full fixed z-40 w-screen">
      <div class="bg-blue-900 h-6"></div>
      <div
        class="bg-blue-400 w-full xl:h-20 bg-opacity-20 backdrop-blur-lg drop-shadow-lg flex items-center justify-between px-8 lg:px-16"
      >
        <img src="assets/banper.png" alt="" class="xl:h-36 h-20" />
        <svg
          href="javascript:void(0);"
          onclick="openNav()"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 xl:hidden"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
        <nav class="xl:flex xl:items-center xl:space-x-6 hidden">
          <ul class="flex flex-col xl:flex-row items-center space-x-6">
            <li
              onclick="location.href = './Dashboard.html'"
              class="text-blue-900 rounded-full font-semibold bg-white bg-opacity-80 px-3 py-1 items-center"
            >
              Home
            </li>
            <div class="dropdown">
              <button class="dropbtn">Mekanisme Pendaftaran</button>
              <div class="dropdown-content">
                <a href="#">F.A.Q</a>
                <hr />
                <a href="#">Unduh Juknis</a>
                <hr />
                <a href="#">Unduh Template</a>
              </div>
            </div>
            <li
              onclick="location.href = './Berita.html'"
              class="cursor-pointer hover:text-gray-900 text-sm outline-2"
            >
              Berita
            </li>
            <li
              onclick="location.href = './Galeri.html'"
              class="cursor-pointer hover:text-gray-900 text-sm outline-2"
            >
              Galeri
            </li>
          </ul>
          <ul
            class="text-sm md:py-1 md:pl-4 md:border-l md:border-gray-400 flex items-center space-x-3"
          >
            <li>Login</li>
            <li>Register</li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Header -->

    <script src="js/navbar.js"></script>
    <script src="../js/navigate.js"></script>
  </body>
</html>
