<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Card</title>
  </head>
  <body>
    <div
      class="flex justify-center items-center cursor-pointer myButton"
      onclick="navigate()"
    >
      <div class="h-full rounded-2xl bg-slate-100">
        <img
          src="https://akcdn.detik.net.id/api/wm/2022/08/18/adrien-rabiot_169.jpeg?wid=54&w=650&v=1&t=jpeg"
          alt=""
          class="rounded-t-2xl justify-start w-full"
        />
        <div class="pt-3 pl-3 w-11/12 pb-5">
          <p class="text-gray-400 text-sm">11 January</p>
          <h1 class="font-bold">Kominfo Blokir</h1>
          <h3 class="text-blue-900 font-semibold justify-end text-sm pt-3">
            Jakarta
          </h3>
        </div>
      </div>
    </div>
  </body>
</html>
